/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--content-card-font-weight) var(--title-card-font-weight);
  background-image: var(--background-gradient);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: var(--block-max-width);
  margin: 100px auto 0;
  border: 2px solid var(--accent-color);
  padding: clamp(7.5rem, 7.324rem + 0.75vw, 8rem) 16px;
  font-family: var(--accent-font), serif;
  background-color: var(--main-bg-color);
}

.header__logo {
  font-weight: 400;
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
}

.header__title {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  line-height: 100%;
  text-transform: uppercase;
}

.content {
  width: 100%;
  max-width: var(--block-max-width);
  margin: 100px auto 50px;
}

.content__section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content__section-card {
  border: 2px solid var(--accent-color);
  background-color: var(--main-bg-color);
}

.content__section__card-title {
  padding: 3px 10px 6px;
  font-variation-settings: 'wght' var(--title-card-font-weight);
  font-size: 18px;
}

.image_wrapper {
  position: relative;
  max-height: 696px;
}

.content__section__card-image {
  display: block;
  max-width: 100%;
}

.saturate {
  filter: saturate(0.3);
}

.hue-rotate {
  filter: hue-rotate(24deg);
}

.invert {
  filter: invert(1);
}

.watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  color: rgb(0 0 0 / 0.5);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  text-shadow: 
    -1px 0 rgb(255 255 255 / 0.5),
    0 1px rgb(255 255 255 / 0.5),
    1px 0 rgb(255 255 255 / 0.5),
    0 -1px rgb(255 255 255 / 0.5); /* добавить support */
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px rgb(255 255 255 / -0.5)) or (-webkit-text-stroke: 1px rgb(255 255 255 / -0.5))) {
  p {
    -webkit-text-stroke: 1px rgb(255 255 255 / -0.5);
    text-stroke: 1px rgb(255 255 255 / -0.5);
    text-shadow: none;
  }
}

.card-description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 27px 25px;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: flex-end;
  block-size: 38px;
}

.content__section__card-description {
  font-variation-settings: 'wght' var(--content-card-font-weight);
  font-size: 18px;
  line-height: 21px;
}

.card__icon-button {
  border: 2px solid;
  border-color: var(--main-bg-color);
  background-color: transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
  transition: border-color 0.3s ease;
}

.card__like-button {
  position: relative;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font), serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  text-align: center;
  background-color: transparent;
  min-inline-size: 129px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--main-bg-color);
  line-height: 90%;
  mix-blend-mode: difference;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  max-width: var(--block-max-width);
  margin: 0 auto 100px;
  padding: 0 32.5px;
}

.footer__button-image {
  position: relative;
  z-index: 1;
  width: 21px;
  height: 21px;
  fill: #fff;
  mix-blend-mode: difference;
}

.footer__button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  max-width: 335px;
  border: 2px solid var(--accent-color);
  padding: 14px 18px;
  font-family: var(--accent-font), serif;
  font-weight: 400;
  font-size: 14px;
  text-align: start;
  line-height: 90%;
}

.footer__dialog {
  max-width: 353px;
  padding: 28px 38px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
}

.footer__dialog[open] {
  display: grid;
  align-items: center;
  row-gap: 30px;
  column-gap: 20px;
}

.footer__dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.footer__dialog-image {
  grid-column: 1;
  width: 39px;
  height: 39px;
}

.footer__dialog-description {
  grid-column: 2;
  line-height: 150%;
  text-transform: uppercase;
}

.footer__dialog-button {
  position: relative;
  grid-column: 1 / 3;
  padding: 12.5px 116.5px;
  background-color: transparent;
}


.card__like-button,
.footer__button,
.footer__dialog-button {
  transition: box-shadow 0.3s ease;
}

/* focus */
.card__like-button:focus,
.footer__button:focus,
.footer__dialog-button:focus {
  box-shadow: 2px 2px var(--accent-color);
  outline: none;
  transition: box-shadow 0.3s ease;
}

/* псевдоэлемент для hover'a  */
.card__like-button::after,
.footer__button::after,
.footer__dialog-button::after {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.card__like-button:hover::after,
.footer__button:hover::after, 
.footer__dialog-button:hover::after {
  transform: scaleX(1);
}



/* Анимация иконки сердца */
.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s 0.3s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s 0s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--fill-animation-color);
  transition: fill 0.3s 0s linear;
}

.like-icon:active .main-body {
  fill: var(--fill-animation-color);
  transition: fill 0.3s 0.05s linear;
} 

.like-icon.is-liked .core {
  fill: var(--fill-animation-color);
  transition: fill 0.3s 0s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-animation-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--fill-animation-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: scaling 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: shine 0.3s ease-in 0.3s;
}

/* медиазапрос для контрольной точки */

@media (width <= 375px) {

  .content__section__card-title {
    padding: 5px 11px;
  }

  .footer__button {
    flex-direction: column;
  }
  .footer__button-image {
    width: 28px;
    height: 28px;
  }
  .footer__dialog {
    max-width: 341px;
  }
}